In [ ]:

!pip install 'atoti[jupyterlab]'

In [10]:

%env ATOTI_HIDE_EULA_MESSAGE = True

def display(to_display, message=''):
    print()
    if len(message) > 0:
        print('  > ' + str(message))
        print()
    print(to_display)
    print()

env: ATOTI_HIDE_EULA_MESSAGE=True

In [12]:

import atoti as tt

session = tt.Session(name='Sales exploration')
sales = session.read_csv('./sales.csv', keys=['ID'])

display(sales.head())

cube = session.create_cube(sales)
levels = cube.levels
measures = cube.measures

sum_quantity = cube.query(measures['QUANTITY.SUM'])
sum_quantity_by_city = cube.query(measures['QUANTITY.SUM'], levels=[levels['CITY']])

display(sum_quantity, 'sum_quantity')
display(sum_quantity_by_city, 'sum_quantity_by_city')

# display localhost link
# session.widget
# session.link

session.close()

       QUANTITY  PRICEEACH  ORDERLINENUMBER    SALES       ORDERDATE   STATUS  \
ID
10277        28      100.0                1  3127.88   8/4/2004 0:00  Shipped
10102        41      50.14                1  2055.74  1/10/2003 0:00  Shipped
10256        29      51.75                1  1500.75   6/8/2004 0:00  Shipped
10216        43      100.0                1  5759.42   2/2/2004 0:00  Shipped
10125        34      100.0                2  6483.46  5/21/2003 0:00  Shipped

       QTR_ID  MONTH_ID  YEAR_ID       PRODUCTLINE  ...  \
ID                                                  ...
10277       3         8     2004      Classic Cars  ...
10102       1         1     2003      Vintage Cars  ...
10256       2         6     2004      Vintage Cars  ...
10216       1         2     2004  Trucks and Buses  ...
10125       2         5     2003      Vintage Cars  ...

                               ADDRESSLINE1 ADDRESSLINE2        CITY  \
ID
10277  Bronz Sok., Bronz Apt. 3/6 Tesvikiye          N/A   Singapore
10102                     2678 Kingston Rd.    Suite 101         NYC
10256                          Vinb'ltet 34          N/A   Kobenhavn
10216                67, avenue de l'Europe          N/A  Versailles
10125                     636 St Kilda Road      Level 3   Melbourne

          STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME  \
ID
10277       N/A      79903  Singapore     Japan       Natividad
10102        NY      10022        USA        NA           Frick
10256       N/A       1734    Denmark      EMEA        Petersen
10216       N/A      78000     France      EMEA          Tonini
10125  Victoria       3004  Australia      APAC        Ferguson

      CONTACTFIRSTNAME DEALSIZE
ID
10277             Eric   Medium
10102          Michael    Small
10256            Jytte    Small
10216           Daniel   Medium
10125            Peter   Medium

[5 rows x 24 columns]


  > sum_quantity

  QUANTITY.SUM
0       11,068


  > sum_quantity_by_city

             QUANTITY.SUM
CITY
Aaarhus                68
Allentown             151
Barcelona             118
Bergamo                95
Bergen                114
...                   ...
Toulouse              120
Tsawassen              74
Vancouver              70
Versailles             79
White Plains           96

[73 rows x 1 columns]